.foot{
    height: 90px;
    background-color: #895ca8;
}

.foot-wrap{
    margin-top: 35px;
}

.copyright{
    float: left;
    margin-left: 40px;
    padding: 5px 0;
    color: #ffffff;
    font: 300 1rem Roboto;
}

.number{
    margin-left: 120px;
    padding: 5px 0 5px 35px;
    background: url(../images/molumen_phone_icon.png) no-repeat center left;
    color: #ffffff;
    font: 300 1rem Roboto;
    text-decoration: none;
}

.mailol{
    margin-left: 70px;
    padding: 5px 0 5px 35px;
    background: url(../images/mes.png) no-repeat center left;
    color: #ffffff;
    font: 300 1rem Roboto;
    text-decoration: none;
}


.design{
    margin-left: 70px;
    padding: 5px 0 5px 35px;
    background: url(../images/hammer.png) no-repeat center left;
    color: #ffffff;
    font: 300 1rem Roboto;
    text-decoration: none;
}

.ltava{
    display: inline-block;
    width: 61px;
    height: 26px;
    padding: 5px 0 5px 35px;
    margin-left: 10px;
    background: url(../images/LOGO_ltava.png) no-repeat;
    text-decoration: none;
}










