.head{
    margin-top: 50px;
    background-color: #fff;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.logo-box{
    float: left;
    
}

.logo-text{
    float: left;
    margin-top: 100px;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
    .head-title{
        font-size: 3rem;
        line-height: 1.2;
    }
    .head-text{
        margin-top: 27px;
        font-size: 1.733rem;
        color: #6D6D6D;
    }
}

.main-btn-wrap{
    float: right;
}

.main-btn{
    padding: 13px 25px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-image: -ms-linear-gradient(top, #9A6EAB 0%, #995EAD 100%);
    background-image: -moz-linear-gradient(top, #9A6EAB 0%, #995EAD 100%);
    background-image: -o-linear-gradient(top, #9A6EAB 0%, #995EAD 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9A6EAB), color-stop(100, #995EAD));
    background-image: -webkit-linear-gradient(top, #9A6EAB 0%, #995EAD 100%);
    background-image: linear-gradient(to bottom, #9A6EAB 0%, #995EAD 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.44);
}

.head-logo{
    float: right;
    margin: 45px 45px 0 0;
}






































