.js{
    padding: 45px 0;
    background-color: #F8F8FB;
}

.col-4{
    float: left;
    width: 33.33%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.circle{
    color: #64237B;
    font-size: 70px;
    font-weight: bold;
}

.label{
    margin-top: 15px;
    font-size: 25px;
    color: #666666;
}


















































