.olena{
    height: 100vh;
    padding-top: 100px;
    background-color: #F8F8FB;
}

.olena-img-box{
    float: left;
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.olena-txt-box{
    float: right;
    width: 58%;
    padding-top: 25px;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
    .olena-txt-box_title{
        margin-bottom: 30px;
        font-size: 3rem;
        color: #64237B;
        text-transform: uppercase;
    }
}

.olena-list{
    padding-left: 35px;
    list-style: disc;
    font-size: 1.533rem;
    line-height: 1.5;
}

.left-liner-list{
    border-left: 1px solid #D593E8;
}



























