.reg-form{
    height: 100vh;
    padding-top: 85px;
    background-color: #fff;
}

.reg-form_title{
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
    .red-txt{
        color: red;
    }
}

.reg-form-wrap{
    position: relative;
    width: 560px;
    height: 330px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid #64237B;
    box-shadow: 0px 0px 35px -7px #cfcfcf;
}

.form-txt{
    margin-bottom: 10px;
    font-size: 22px;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

.form-txt2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    text-shadow: 0px 0px 1px rgba(150, 150, 150, 1);
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #64237B;
    border-radius: 5px;
    font-size: 19px;
}

.reg-form-btn{
    width: 228px;
    margin: 0 auto;
    padding-top: 40px;
}


.reg-form-image{
    position: absolute;
    right: -100px;
    bottom: -100px;
}













































