.weight{
    height: 100vh;
    padding-top: 60px;
    background-color: #F8F8FB;
}

.weight-img-box{
    float: left;
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.weight-txt-box{
    float: right;
    width: 58%;
    text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
    .weight-txt-box_title{
        margin-bottom: 30px;
        font-size: 45px;
        color: #64237B;
    }
    .weight-txt-box_text1{
        font-size: 23px;
        line-height: 1.5;
    }
    .weight-txt-box_text2{
        padding: 15px 0;
        font-size: 23px;
    }
    .weight-txt-box_text3{
        font-size: 23px;
        line-height: 1.5;
    }
}

.left-liner{
    margin-left: -16px;
    padding-left: 16px;
    border-left: 1px solid #D593E8;
}








































