@import "_reset";
@import "_clearfix";
@import "_header";
@import "_weight";
@import "_regform";
@import "_danger";
@import "_olena";
@import "_newregform";
@import "_js";
@import "_focus";
@import "_comments";
@import "_footer";

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
   }

*{
   box-sizing: border-box;
}

html{
    font-size: 15px;
}

body{
    font-family: Myriad Pro Regular, sans-serif;
}

.wrapper{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}





