@import "_reset";
@import "_clearfix";
@import "_header";
@import "_weight";
@import "_regform";
@import "_danger";

*{
   box-sizing: border-box;
}

body{
    font-family: Myriad Pro Regular, sans-serif;
}

.wrapper{
    width: 100%;
}







