@import "_reset";
@import "_clearfix";
@import "_header";
@import "_weight";
@import "_regform";
@import "_danger";
@import "_olena";

*{
   box-sizing: border-box;
}

body{
    font-family: Myriad Pro Regular, sans-serif;
}

.wrapper{
    width: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}





